<div ref="value">{% if (ctx.value) { %}{% if (ctx.component.type == 'url') { %}<a href="{{ctx.value}}" target="_blank">{% } %}{{ctx.value}}{% if (ctx.component.type == 'url') { %}</a>{% } %}{% } else { %}-{% } %}</div>
